body {
	font: 1 em; Cambria, Georgia, serif; 
	margin: 0 auto;
	padding: 1em 20%; /*temporary*/
}

@media only screen and (min-width: 1200px) {

}

@media only screen and (min-device-width: 320px) and (max-device-width : 480px) {
   h1 {
      font-size: 5em;
   }

   h2 {
      font-size: 4em;
   }

   .wedding_info {
   		font-size: 3em;
   }

}