img{
	max-width: 100%
	height: auto;
}

.container
	{
		width: 800px;
		max-width: 90%;
	}

body {
	padding: 1em 15%; /*temporary*/
}

h2 {
	padding-bottom: auto;
	margin-bottom: auto;
}

.subsection {
	margin-top: none;
	padding-top: none;
	padding-bottom: .25em;
}

.wedding_info {
	border-top: none;
	margin: auto;
	padding-bottom: .25em;
	padding-top: .25em;
	border: none;
}

.coming_soon {
	margin-top: none;
	padding-top: none;
	padding-bottom: .25em;
	color: #505050;
}

@media only screen and (min-device-width: 481px) (max-device-width: 1024) {
	h1 {
		font-size: 6em;
	}

	h2 {font-size: 5em;
	}

	.wedding_info {
		font-size: 4em;
	}

	.coming_soon {
		font-size: 4em;
	}

}

@media only screen and (min-device-width: 320px) and (max-device-width : 480px) {
   h1 {
      font-size: 6em;
   }

   h2 {
      font-size: 5em;
   }

   .wedding_info {
   		font-size: 4em;
   }

   .coming_soon {
	 font-size: 4em;
	 }

}
